.invalid{
    background-color: rgba(255,96,96,0.8);
  }
  
  .ng-invalid{
    background-color: rgba(255,96,96,0.8);
  }
  
  .valid{
    background-color: rgba(32,146,37,0.8);
  }
  
  .personal, .Personal{
    background-color: rgba(142, 89, 47, 0.8);
  }
  
  .work, .Work{
    background-color: rgba(22, 176, 2, 0.8) ;
  }
  
  .deposit, .Deposits{
    background-color: rgba(82, 232, 63, 0.8);
  }
  
  .food, .Food{
    background-color: rgba(232, 108, 7, 0.8);
  }
  
  .junkfood, .Junk {
    background-color: rgba(231, 4, 153, 0.8);
  }
  
  .subscriptions, .Subscriptions{
    background-color: rgba(255,213,5,0.8) ;
  }
  
  .gaming, .Gaming{
    background-color: rgba(214, 0, 0, 0.8);
  }
  
  .misc, .Misc{
    background-color: rgba(2, 174, 176, 0.8);
  }
  
  .waste, .Waste{
    background-color: red;
  }
  
  .hobby, .Hobby{
    background-color:darkolivegreen
  }
  
  .groceries, .Groceries\/Gas{
    background-color: rgba(143, 4, 231, 0.8);
  }
  
  .ingresos{
    background-color: rgba(27, 202, 0, 0.8);
  }
  
  .gastos{
    background-color: rgba(202, 0, 0, 0.8);
  }
  
  .numberClear{
    background-color: white;
    text-align: left;
  }

  .ahorros, .Ahorros{
    background-color: gold;
  }