@import url('../../Styles/categoriesColors.css');

table, th , td {
  border: 1px solid black;
  text-align: center;
}

#tableBorder {
  border: 1px solid black;
  max-width:49.625rem;
  min-width:38rem;
}

.tableHead{
  background-color: rgba(127,219,255,0.3);
}

.DelBtn{
  border:hidden;
}

.ScreenWhole{
  display:flex;
  flex-direction: row;
}

.titleContainer{
  margin-left:3.5rem;
}


.StatSection{
  display:flex;
  flex-direction:row;
  border-left: 1rem;
}

@media all and (max-width:73rem) {
  .ScreenWhole{
    display:flex;
    flex-direction:column-reverse;
  }

  .gastosContainer{
    width:50%;
  }
  .ingresosContainer{
    width:50%;
  }

  .tableInputs{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }


  .addBtnDiv{
    grid-column-end:span 2;
  }
}

@media all and (min-width:73rem) and ( max-width:87.5rem){
  .StatSection{
    display:flex;
    flex-direction: column;
  }
}
@media all and (min-width:50rem){
  .tableInputs{
    display:flex;
    flex-direction: row;
    align-content: center;
  }


}

.addBtn{
  height:28px;
  width: auto;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.25));
  background-color: rgba(0,116,217,0.47);
  border: 1px;
  border-radius: 5px;
  margin: auto;
}

#newRowOptions{
  background-color: rgba(127,219,255,0.3);
}

.formInput{
    margin-top: auto;
    margin-bottom:auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
    min-height: 5em;
    justify-content: center;

}

.first {
  margin-left:auto;
}

.inputBox{
  width: auto;
  height: 28px;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.25));}

.description {
  width: auto;
}

.containerGrid{
  display:grid;
  grid-template-columns: 6.5rem 5rem 3rem;
  text-align:end;
}

.containerGridBig{
  display:grid;
  grid-template-columns: 8.75rem 6rem 3rem;
  text-align: end;
}

.paginator{
  width:max-content;
  margin-left: 9.8rem;
  margin-top:1em;
}

.DebitTableHeader{
  box-sizing: border-box;
  width:81px;
}

.CheckedImage{
  width:30px;
  height:30px;
}