<div class="container-fluid ">
  <h1 class="titleContainer">Ingresos vs Gastos</h1>
  <div class="ScreenWhole">
    <div class="TableSection">
      <h2 class="titleContainer">Flujo de dinero</h2>
      <div id="tableBorder">
        <div id="newRowOptions" class="mb-3">
          <form
            class="tableInputs"
            #newEntry="ngForm"
            (ngSubmit)="onSubmit(newEntry)"
          >
            <div class="d-flex flex-column formInput">
              <label for="Fecha">Fecha</label>
              <input
                type="date"
                class="inputBox"
                [ngClass]="!fecha.valid ? 'invalid' : ''"
                required
                name="Fecha"
                [(ngModel)]="this.Fecha"
                #fecha="ngModel"
              />
            </div>
            <div class="d-flex flex-column formInput">
              <label for="Cantidad">Cantidad</label>
              <input
                type="number"
                class="inputBox"
                onClick="this.select()"
                [ngClass]="!cantidad.valid ? 'invalid' : ''"
                required
                CantidadValida
                name="Cantidad"
                [(ngModel)]="this.Cantidad"
                #cantidad="ngModel"
              />
            </div>
            <div class="d-flex flex-column formInput">
              <label for="Categoria">Categoría</label>
              <select
                [(ngModel)]="this.Categoria"
                [ngClass]="!categoria.valid ? 'invalid' : ''"
                name="Categoria"
                class="inputBox"
                #categoria="ngModel"
              >
                <option [ngValue]="" name="invalid">Seleccionar</option>
                <option
                  *ngFor="let cat of Categories | keyvalue"
                  [ngValue]="cat.value"
                >
                  {{ cat.value }}
                </option>
              </select>
            </div>
            <div class="d-flex flex-column formInput">
              <label for="Descripcion">Descripción</label>
              <textarea
                class="inputBox description"
                name="Descripcion"
                [(ngModel)]="this.Descripcion"
                #descripcion="ngModel"
              ></textarea>
            </div>
            <div class="d-flex flex-column addBtnDiv">
              <button class="addBtn mx-3" type="submit">Añadir</button>
            </div>
          </form>
        </div>
        <div class="border DataTable">

          <table class="mx-auto my-3">
            <thead class="tableHead">
              <th class="px-2">No.</th>
              <th class="px-4">Fecha</th>
              <th class="px-4">Cantidad</th>
              <th class="px-4">Categoria</th>
              <th class="px-4 ">Descripcion</th>
              <th class="px-1 DebitTableHeader">Pago con débito</th>
            </thead>
            <tbody>
              <tr *ngFor="let entry of EntriesCollection | paginate: {itemsPerPage: 30, currentPage: p}; let i = index ">
                <td class="index">{{ entry.displayId }}</td>
                <td class="Fecha">{{ entry.Fecha }}</td>
                <td
                  class="Cantidad"
                  [ngClass]="entry.Cantidad > 0 ? 'valid' : 'invalid'"
                >
                  {{ entry.Cantidad | currency: "MXN":"symbol" }}
                </td>
                <td class="Categoria {{ entry.Categoria }}">
                  {{ entry.Categoria }}
                </td>
                <td class="Descripcion px-1 ">{{ entry.Descripcion }}</td>
                <td *ngIf="!entry.isDebit" class="Debit" (click)="toggleCheck(entry,this.User.id)"><img src="assets/images/cross-mark-svgrepo-com.svg" class="CheckedImage"></td>
                <td *ngIf="entry.isDebit" class="Debit" (click)="toggleCheck(entry,this.User.id)"><img src="assets/images/checkmark-svgrepo-com.svg" class="CheckedImage"></td>

                <td class="p-0"><button (click)="deleteEntry(entry,this.User.id)" class="DelBtn p-1">Borrar</button></td>
              </tr>
            </tbody>
          </table>
          <div class="paginator">
            <pagination-controls  (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <div class="border m-3"></div>
    <div class=" StatSection">
      <div class="mr-3 ml-2">
        <h3>Resumen de Datos</h3>
        <div class="containerGridBig">
          <h5 class="pl-3 ingresos">Total ganado:</h5>
          <p class="numberClear mx-1">{{ this.tableOperations.Ingresos }}</p>
          <p>{{this.tableOperations.ingresosPorcentaje}}%</p>
          <h5 class="pl-3 gastos">Total gastado:</h5>
          <p class="numberClear mx-1">{{ this.tableOperations.Gastos }}</p>
          <p>{{this.tableOperations.gastosPorcentaje}}%</p>
          <h5 class="pl-3">Total restante:</h5>
          <p
            [ngClass]="this.tableOperations.Total > 0 ? 'valid' : 'invalid'"
            class="numberClear mx-1"
          >
            {{ this.tableOperations.Total | currency: "MXN" }}
          </p>
        </div>
      </div>

      <div class="mt-5 mx-3">
        <div class="mb-5 gastosContainer">
          <h3>Gastos</h3>
          <div class="containerGrid">
            <span class="personal">Personal:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Personal }}</span>
            <span class="px-1">{{this.tableOperations.personalPorcentaje}}%</span>
            <span class="food">Food:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Food }}</span>
            <span class="px-1">{{this.tableOperations.foodPorcentaje}}%</span>
            <span class="junkfood">Junk Food:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.JunkFood }}</span>
            <span class="px-1">{{this.tableOperations.junkfoodPorcentaje}}%</span>
            <span class="gaming">Gaming:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Gaming }}</span>
            <span class="px-1">{{this.tableOperations.gamingPorcentaje}}%</span>
            <span class="subscriptions">Subscriptions:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Subscriptions }}</span>
            <span class="px-1">{{this.tableOperations.subscriptionsPorcentaje}}%</span>
            <span class="misc">Misc:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Misc }}</span>
            <span class="px-1">{{this.tableOperations.miscPorcentaje}}%</span>
            <span class="groceries">Groceries/Gas:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Groceries }}</span>
            <span class="px-1">{{this.tableOperations.groceriesPorcentaje}}%</span>
            <span class="waste">Waste:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Waste }}</span>
            <span class="px-1">{{this.tableOperations.wastePorcentaje}}%</span>
            <span class="hobby">Hobby:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Hobby }}</span>
            <span class="px-1">{{this.tableOperations.hobbyPorcentaje}}%</span>
            <span class="ahorros">Ahorros Totales:</span>
            <span class="numberClear mx-1">{{this.tableOperations.Ahorros}}</span>
            <span class="px-1">{{this.tableOperations.ahorrosPorcentaje}}%</span>
          </div>
        </div>
        <div class="my-3 ingresosContainer">
          <h3>Ingresos</h3>
          <div class="containerGrid">
            <span class="work">Work:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Work }}</span>
            <span class="px-1">{{this.tableOperations.workPorcentaje}}%</span>
            <span class="deposit">Deposits:</span>
            <span class="numberClear mx-1">{{ this.tableOperations.Deposits }}</span>
            <span class="px-1">{{this.tableOperations.depositsPorcentaje}}%</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
