<div class="container">
    <form #Credentials="ngForm" (ngSubmit)="Submit(Credentials)">
        <div>
            <p *ngIf="isSignIn">Sign in</p>
            <p *ngIf="!isSignIn">Sign up</p>
        </div>
        <div class="d-flex flex-col">
            <label for="emailInput">Ingresa tu correo</label>
            <input type="email" name="emailInput" [(ngModel)]="this.email">
        </div>
        <div class="d-flex flex-col">
            <label for="pwInput">Ingresa tu contraseña</label>
            <input type="password" name="pwInput" [(ngModel)]="this.password">
        </div>
        <div *ngIf="isSignIn">
            <button type="submit">Entrar</button>
        </div>
        <div *ngIf="!isSignIn">
            <button type="submit">Crear cuenta</button>
        </div>
        <div *ngIf="isSignIn">
            <p class="clickableText" (click)="SignUpSwitch()">No tienes cuenta? Crea una</p>
            <p (click)="popupPassword = true">Olvidaste tu contraseña?</p>
            <div *ngIf="popupPassword">
                <label for="emailPW">Ingresa tu correo</label>
                <input type="email" name="emailPW" [(ngModel)]="this.emailPW">
                <button type="button" (click)="forgotPassword()">Enviar correo</button>
            </div>
        </div>
        <p *ngIf="!isSignIn"><a (click)="SignUpSwitch">Entra con tu cuenta</a></p>

    </form>

</div>