<div class="main-wrapper">
  <h1>Ingresos vs Gastos</h1>
  <div class="d-flex flex-row ScreenWhole">
    <div class="TableSection">
      <h2 class="">Flujo de dinero</h2>
      <div id="tableBorder">
        <div id="newRowOptions" class="mb-3">
          <form
            class="d-flex flex-row align-content-center"
            #newEntry="ngForm"
            (ngSubmit)="onSubmit(newEntry)"
          >
            <div class="d-flex flex-column formInput first">
              <label for="Fecha">Fecha</label>
              <input
                type="date"
                class="inputBox"
                [ngClass]="!fecha.valid ? 'invalid' : ''"
                required
                name="Fecha"
                [(ngModel)]="this.Fecha"
                #fecha="ngModel"
              />
            </div>
            <div class="d-flex flex-column formInput">
              <label for="Cantidad">Cantidad</label>
              <input
                type="number"
                class="inputBox"
                onClick="this.select()"
                [ngClass]="!cantidad.valid ? 'invalid' : ''"
                required
                CantidadValida
                name="Cantidad"
                [(ngModel)]="this.Cantidad"
                #cantidad="ngModel"
              />
            </div>
            <div class="d-flex flex-column formInput">
              <label for="Categoria">Categoría</label>
              <select
                [(ngModel)]="this.Categoria"
                [ngClass]="!categoria.valid ? 'invalid' : ''"
                name="Categoria"
                class="inputBox"
                #categoria="ngModel"
              >
                <option [ngValue]="" name="invalid">Seleccionar</option>
                <option
                  *ngFor="let cat of Categories | keyvalue"
                  [ngValue]="cat.value"
                >
                  {{ cat.value }}
                </option>
              </select>
            </div>
            <div class="d-flex flex-column formInput">
              <label for="Descripcion">Descripción</label>
              <textarea
                class="inputBox description"
                name="Descripcion"
                [(ngModel)]="this.Descripcion"
                #descripcion="ngModel"
              ></textarea>
            </div>
            <button class="addBtn" type="submit">Añadir</button>
          </form>
        </div>
        <div class="border DataTable">
          <table class="mx-auto my-3">
            <thead class="tableHead">
              <th class="px-2">No.</th>
              <th class="px-4">Fecha</th>
              <th class="px-4">Cantidad</th>
              <th class="px-4">Categoria</th>
              <th class="px-auto">Descripcion</th>
            </thead>
            <tbody>
              <tr *ngFor="let entry of EntriesCollection; let i = index">
                <td class="index">{{ i + 1 }}</td>
                <td class="Fecha">{{ entry.Fecha }}</td>
                <td
                  class="Cantidad"
                  [ngClass]="entry.Cantidad > 0 ? 'valid' : 'invalid'"
                >
                  {{ entry.Cantidad | currency: "MXN":"symbol" }}
                </td>
                <td class="Categoria {{ entry.Categoria }}">
                  {{ entry.Categoria }}
                </td>
                <td class="Descripcion">{{ entry.Descripcion }}</td>
                <td><button (click)="deleteEntry(entry,this.User.id)">Borrar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="border m-2"></div>
    <div class="d-flex flex-row">
      <div class="mr-3 ml-2">
        <h3>Resumen de Datos</h3>
        <div class="containerGridBig">
          <h5 class="pl-3 ingresos">Total ganado:</h5>
          <p class="numberClear mx-1">{{ Ingresos }}</p>
          <p>{{ingresosPorcentaje}}%</p>
          <h5 class="pl-3 gastos">Total gastado:</h5>
          <p class="numberClear mx-1">{{ Gastos }}</p>
          <p>{{gastosPorcentaje}}%</p>
          <h5 class="pl-3">Total restante:</h5>
          <p
            [ngClass]="Total > 0 ? 'valid' : 'invalid'"
            class="numberClear mx-1"
          >
            {{ Total | currency: "MXN" }}
          </p>
        </div>
      </div>

      <div class="m-5">
        <div class="mb-5">
          <h3>Gastos</h3>
          <div class="containerGrid">
            <span class="personal">Personal:</span>
            <span class="numberClear mx-1">{{ Personal }}</span>
            <span class="px-1">{{personalPorcentaje}}%</span>
            <span class="food">Food:</span>
            <span class="numberClear mx-1">{{ Food }}</span>
            <span class="px-1">{{foodPorcentaje}}%</span>
            <span class="junkfood">Junk Food:</span>
            <span class="numberClear mx-1">{{ JunkFood }}</span>
            <span class="px-1">{{junkfoodPorcentaje}}%</span>
            <span class="gaming">Gaming:</span>
            <span class="numberClear mx-1">{{ Gaming }}</span>
            <span class="px-1">{{gamingPorcentaje}}%</span>
            <span class="subscriptions">Subscriptions:</span>
            <span class="numberClear mx-1">{{ Subscriptions }}</span>
            <span class="px-1">{{subscriptionsPorcentaje}}%</span>
            <span class="misc">Misc:</span>
            <span class="numberClear mx-1">{{ Misc }}</span>
            <span class="px-1">{{miscPorcentaje}}%</span>
            <span class="groceries">Groceries/Gas:</span>
            <span class="numberClear mx-1">{{ Groceries }}</span>
            <span class="px-1">{{groceriesPorcentaje}}%</span>
            <span class="waste">Waste:</span>
            <span class="numberClear mx-1">{{ Waste }}</span>
            <span class="px-1">{{wastePorcentaje}}%</span>
          </div>
        </div>
        <div class="my-5">
          <h3>Ingresos</h3>
          <div class="containerGrid">
            <span class="work">Work:</span>
            <span class="numberClear mx-1">{{ Work }}</span>
            <span class="px-1">{{workPorcentaje}}%</span>
            <span class="deposit">Deposits:</span>
            <span class="numberClear mx-1">{{ Deposits }}</span>
            <span class="px-1">{{depositsPorcentaje}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
