table, th , td {
  border: 1px solid black;
}

#tableBorder {
  border: 1px solid black;
}

#newRowOptions{
  margin: 2em;
  margin-top: 1em;
}

.formInput{
    margin: auto;
    padding-left: 0.875em;
    padding-right: 0.875em;
    min-height: 5em;
    background-color: aqua;
    justify-content: center;

}

.formInput .first {
  margin-left: 2em;
}

.inputBox{
  width: 8em;
}

